body{
    text-align: center;
    /* font-family: 'Courier New'; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: menlo, monaco; */
    font-family: monaco, menlo;
}

#title{
    font-size: 48px;
    letter-spacing: .1em;
    color: tomato;
}

#target{
    font-size: 48px;
    letter-spacing: .1em;
    color: blueviolet;
}

#input p span{
    vertical-align: 2px;
    font-size: 30px;
}
#input input{
    font-size: 30px;
    font-family: menlo, monaco;
}

#disp_problem_set{
    font-size: 25px;
    /* overflow-wrap: break-word; */
    /* font-family: menlo, monaco; */
    /* font-family: menlo, monaco; */
}

th,td {
    border: solid 2px;          /* 枠線指定 */
    font-size: 22px;
    height: 45px;
}

.caption{
    font-size: 30px;
    /* font-weight: bold; */
    line-height: 50px;
}
.index{
    /* width: 200px; */
    width: 180px;
}
td{
    /* font-size: 20px; */
}
/* .character_set_value{
    font-size: 20px;
} */

table {
    border-collapse:  collapse; /* セルの線を重ねる */
    width:  100%;               /* 幅指定 */
    table-layout: fixed;        /* セルの幅計算指定 */
}